body {
    font-family: "Brush Script MT", cursive;
    margin: 100px;
    padding-left: 100px;
  }
  
  ol, ul {
    padding-left: 40px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
  }
  
  .square {
    background: rgb(255, 255, 255);
    border: 2px solid #041a63;
    border-radius: 8px;   
    box-shadow: 2px 5px 5px #78afcf;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
    color: rgb(8, 8, 8);
    
  }
  
  .highlight{
   background-color: #faeece !important;
   box-shadow: 1px 1px 3px #4e4a3f !important;
  }
  
  .winning-square{
    background-color: rgb(12, 16, 71);
  }

  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: rgb(245, 212, 212);
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 30px;
    text-align: center;
    font-style: italic;
    font: 15px "Brush Script MT", cursive;
    margin: 15px;
  }
  
  button.square[data-pro="X"] {
    color: rgba(189, 7, 98, 0.986);
    font: 35px "Brush Script MT", cursive;
    }
    
    button.square[data-pro="O"] {
      color: rgb(120, 163, 21);
      font: 35px "Brush Script MT", cursive;
    }

    .link{
      text-decoration: none;
      color:rgb(12, 16, 71)
    }

    .reset{
      font: 15px 'Brush Script MT', cursive;
      border-radius: 8px;
      margin: 20px;
      margin-left: 80px;
      padding: 5px;
      box-shadow: 1px 1px 3px #78afcf;
      background-color: #CEEAFA; 
      border-color: #031349
    }

    